{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- hero image -->
<div class="hero-image">
    <img class="img-fluid" src="{% static 'policy-shop-hero.jpg' %}" alt="Policy Shop Hero image">
    <div class=" hero-button">
        <h4>
            <a href="{% url 'products' %}" class="btn btn-lg text-uppercase py-3 px-5 shop-all">See all policies</a>
        </h4>
    </div>
    <div class="hero-text">
        <p class="text-center">
            All your <strong>regulatory</strong> and <strong>cybersecurity</strong>
            <strong>policy</strong> and <strong>questionnaire</strong> <strong>needs</strong> are here!
        </p>
    </div>
</div>

<!-- Featured Products -->
<div class="container px-4 px-lg-5 mt-5">
    <h2 class="pb-3">Featured Products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in featured_products %}
        {% if product.featured %}
        <div class="col mb-5 p-2 ">
            <a class="text-decoration-none text-black" href="{% url 'product_detail' product.id %}">
                <div class="card h-100 product">
                    <!-- Product image-->
                    {% if product.image %}
                    <img class="product-image card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="product-image card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </a>
        </div>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product price-->
                {% if product.discount_price %}
                <del><span class="mt-3">€{{ product.price }}</span> </del>
                <span class="badge bg-primary">Sale</span>

                <p class="mt-3">€{{ product.discount_price }} </p>
                {% else %}
                <p class="mt-3">€{{ product.price }}</p>
                {% endif %}
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <p>
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                        5</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#id_{{ product.slug }}" href="{% url 'delete_product' product.id %}">Delete</a>
                    {% include 'products/includes/delete_modal.html' %}
                </small>
                {% endif %}
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Recently added products -->
<div class="container px-4 px-lg-5 mt-5">
    <h2 class="pb-3">Recently Added</h2>
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in recently_added %}
        <div class="col mb-5 p-2 ">
            <a class="text-decoration-none text-black" href="{% url 'product_detail' product.id %}">
                <div class="card h-100 product">
                    <!-- Product image-->
                    {% if product.image %}
                    <img class="product-image card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="product-image card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </a>
        </div>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product price-->
                {% if product.discount_price %}
                <del><span class="mt-3">€{{ product.price }}</span> </del>
                <span class="badge bg-primary">Sale</span>
                <p class="mt-3">€{{ product.discount_price }} </p>
                {% else %}
                <p class="mt-3">€{{ product.price }}</p>
                {% endif %}
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <p>
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                        5</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#id_{{ product.slug }}" href="{% url 'delete_product' product.id %}">Delete</a>
                    {% include 'products/includes/delete_modal.html' %}
                </small>
                {% endif %}
            </div>
        </div>

    </div>

</div>
{% endfor %}
</div>
</div>
<!-- Review section -->
<div class="container-fluid">
    <div class="justify-content-center aligns-items-center">
        <div class="text-center">
            <h2 class="my-3">What our customers say</h2>
            <div id="carouselExampleControls" class="carousel slide carousel-dark slide my-5 carousel-width"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for comment in comments %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100"
                        data-bs-interval="2000">
                        <img class="comment-image" src="{{ comment.product.image.url }}"
                            alt="{{ comment.product.name }}" height=150px>
                        <P>Reviewed by {{ comment.name }}</P>
                        <P> Product name: {{ comment.product.name }}</P>
                        <p class="overflow-auto comment-body">{{ comment.body }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="visually-hidden text-black">Previous</span>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span> </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="visually-hidden text-black">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}