
<!-- Modal -->
<div class="modal fade" id="id_{{ product.slug }}" tabindex="-1" role="dialog" aria-labelledby="bal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="s">Delete {{ product.id }}</h5>
          <button type="button" class=" btn-close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{ product.name }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="text-danger btn btn-primary" href="{% url 'delete_product' product.id %}">Delete</a> 
        </div>
      </div>
    </div>
  </div>
