{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container text-center my-3">
    <h2>Policy Shop</h2>
    <p>Edit FAQ</p>
    <small class="text-black">Here are the FAQs for the Policy Shop website.</small>
</div>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn my-3 btn-black" value="submit"> Submit</button>
    </form>
</div>
{% endblock %}