<div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-3 mb-lg-0">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Policies</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=cybersecurity">Cybersecurity</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=humanresources">HR</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=compliance">Compliance</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=cybersecurity,humanresources,compliance">All
                        Policies</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cybersecurity</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=incidentresponse">Incident
                        Response</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=endpointprotection">Endpoint
                        Protection</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=other">Other</a></li>
                <li><a class="dropdown-item"
                        href="{% url 'products' %}?category=incidentresponse,endpointprotection,other">All
                        Cybersecurity</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">HR</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=humanresources">HR</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=acceptableuse">AUP</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=remoteworking">Remote Working</a>
                </li>
                <li><a class="dropdown-item"
                        href="{% url 'products' %}?category=remoteworking,humanresources,,acceptableuse">All HR</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Systems</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=workstations">Workstations</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=servers">Servers</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=networking">Networking</a>
                </li>
                <li><a class="dropdown-item"
                        href="{% url 'products' %}?category=workstations,servers,networking,">All Systems
                        Products</a></li>
            </ul>
        </li>
    </ul>
</div>

<script>
    // hover effect on search icon
    $('.search-button').hover(function () {
        $(".navbar-nav").hide(1000);
        $(".search-bar").show().animate({
            width: "100%"
        }, 'slow')
        $(".navigation-fluid-bar").css({
            width: "30%"
        })
    })

    // this block of code is taken from 
    // https://stackoverflow.com/questions/1403615/use-jquery-to-hide-a-div-when-the-user-clicks-outside-of-it
    $(document).on('click', function (e) {
        if ($(e.target).closest(".search-bar").length === 0) {
            $(".search-bar").hide().css({
                'width': '0'
            }, );
            $(".navbar-nav").fadeIn(2000)
        }
    });
</script>