<li class="list-unstyled">
    <a class="home-icon" href="{% url 'home' %}">
        <i class="fa-solid fa-house fa-lg"></i>
    </a>
</li>
<li class="list-inline-item mobile-nav my-5">
    <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" aria-label="Search">
        <div class="text-center w-100 mobile-menu">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" role="search" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border me-2" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control form-control btn" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="my-account">
        <div class="text-center mobile-menu">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <ul class="dropdown-menu"  aria-labelledby="user-options">
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li><a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a></li>
        {% endif%}
        <li><a class="dropdown-item" href="">My Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
        <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
        {% endif %}
    </ul>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
        href="">
        <div class="text-center mobile-menu">
            <div><i class="fas fa-shopping-bag fa-lg"></i>
                <span class="my-0">
                    {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}
                </span>
            </div>
        </div>
    </a>
</li>