{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col col-12 col-md-6">

            <h4 class="mb-4 text-center my-3">Address</h4>
            <div class="container text-center mb-5">
                {% for address in company_address %}
                <p>Address: {{ address.address }}</p>
                <p>Location: {{ address.location }}</p>
                <p>{{ address.location2 | default_if_none:''}}</p>
                <p>Phone: {{ address.phone }}</p>
                <p>{{ address.phone2 | default_if_none:'' }}</p>
                <p>Email: {{ address.email }}</p>
                <p>{{ address.email2 | default_if_none:''}}</p>

                {% endfor %}
            </div>
            <div>
                <iframe width="80%" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=52.10638848451039~-9.783751684543011&lvl=15.53&typ=d&sty=r&src=SHELL&FORM=MBEDV8&style=a" scrolling="no">
                </iframe>
                <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
                   <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=52.10638848451039~-9.783751684543011&amp;sty=r&amp;lvl=15.53&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
                   <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=52.10638848451039~-9.783751684543011&amp;sty=r&amp;lvl=15.53&amp;rtp=~pos.52.10638848451039_-9.783751684543011____&amp;FORM=MBEDLD">Get Directions</a>
               </div>
           </div>
       
        <div class="col">
            <h4 class="mb-4 text-center my-3">Contact us soon!</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn my-3" value="submit"> Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}